.sidebar {
    &__menu {}
    &__list {}
    &__item {
        &:hover {
            background-color: #3c424b;
            border-radius: 10px;
        }
    }
    &__link {
        display: block;
        color: #fff;
        transition: color 0.3s ease 0s;
        padding: 10px;
    }
}
.active {
    display: block;
    transition: color 0.3s ease 0s;
    color: #599650;
    font-weight: 700;
    padding: 10px;
}