.sidebar {
    &__menu {}
    &__list {}
    &__item {
        margin: 0 0 5px 0;
        padding: 10px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: #3c424b;
            border-radius: 10px;
        }
    }
    &__link {
        display: block;
        color: #fff;
        transition: color 0.3s ease 0s;
    }
    &.active {
        color: #599650;
        font-weight: 700;
    }
}