.friends {
    border: 1px solid #3c424b;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 0 5px;
        display: flex;
        margin: 0 0 10px 0;
        @media (max-width: 1070px) {
            flex: 0 1 50%;
        }
        @media (max-width: 815px) {
            flex: 1 1 auto;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        border: 1px solid #3c424b;
        border-radius: 15px;
        background-color: #161b22;
        min-height: 370px;
        min-width: 100%;
        overflow: hidden;
    }
    &__image {
        height: 100px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__photo {
        flex: 0 0 100px;
        align-self: flex-start;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 20px -20px 20px;
        position: relative;
        top: -40px;
        left: 0;
        img {
            height: 100%;
        }
    }
    &__name {
        line-height: 1.5;
        padding: 0 20px;
    }
    &__description {
        flex: 1 1 auto;
        font-size: 14px;
        color: #8a8a8a;
        line-height: 1.2;
        margin: 0 0 30px 0;
        padding: 0 20px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 20px 20px;
        border: 1px solid #3c424b;
        border-radius: 15px;
        height: 30px;
        color: #fff;
        background-color: #3c424b;
        font-size: 14px;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #599650;
        }
    }
}