.messages {
    border-radius: 15px;
    border: 1px solid #3c424b;
    overflow: hidden;
    &__body {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    &__topInfo {
        margin: 0 0 30px 0;
    }
    &__mainInfo {
        flex: 1 1 800px;
    }
}
.message {
    display: flex;
    &__left {
        flex: 0 0 300px;
    }
    &__leftItem {
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
        border-radius: 15px;
        border: 1px solid #3c424b;
        overflow: hidden;
        background-color: #161b22;
        padding: 10px;
        margin: 0 20px 10px 0;
    }
    &__profilePhoto {
        flex: 0 0 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 10px 0 0;
        img {
            max-width: 100%;
        }
    }
    &__profileInfo {
        flex: 1 1 auto;
    }
    &__nameAndDate {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin: 0 0 10px 0;
    }
    &__name {}
    &__date {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__lastMessage {
        font-size: 14px;
        line-height: 1.3;
        color: rgba(255, 255, 255, 0.7);
    }
    &__right {
        flex: 1 1 auto;
        border-left: 1px solid #3c424b;
        padding: 10px 10px 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__sentMessages {}
    &__items {}
    &__item {
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 1.3;
    }
    &__writeMessage {
        display: flex;
        flex-direction: column;
    }
    &__textarea {
        margin: 0 0 10px 0;
        textarea {
            min-height: 100px;
            width: 100%;
            resize: vertical;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #3c424b;
            background-color: #161b22;
            color: #fff;
            transition: border 0.3s ease 0s;
            &:focus {
                border: 1px solid #599650;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 15%;
        background-color: #3c424b;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #599650;
        }
    }
}