.messages {
    border-radius: 15px;
    border: 1px solid #3c424b;
    overflow: hidden;
}
.messages__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.messages__topInfo {
    margin: 0 0 30px 0;
}
.messages__mainInfo {
    flex: 1 1 800px;
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column-reverse;
}
/* ---------------------------------------------------------------- ↓ message */
.message {}
.message__profileImage {}
.message__profileName {}
/* ---------------------------------------------------------------- ↑ message */
.messages__bottomInfo {}