/* ----------------------------------------------------------------------------------------------------------- header */
.header {
    grid-area: header;
    padding: 20px 0 10px 0;
    display: flex;
    align-items: center;
}
.header__title {
    font-family: 'Permanent Marker', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    color: #599650;
    margin: 0 0 0 20px;
}