.addPost {
    margin: 0 0 50px 0;
    padding: 0 30px;
    &__title {
        border-bottom: 1px solid #3c424b;
        padding: 0 0 15px 0;
        margin: 0 0 30px 0;
        font-weight: 600;
    }
    &__area {
        margin: 0 0 15px 0;
        textarea {
            min-height: 100px;
            width: 400px;
            resize: vertical;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #3c424b;
            background-color: #161b22;
            color: #fff;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        width: 15%;
        background-color: #3c424b;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #599650;
        }
    }
}