.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px 0;
    &__copy {
        font-size: 14px;
        font-weight: 300;
        color: #d9d9d9;
        line-height: 50px;
    }
}