.header__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}
.header__list {
    display: flex;
}
.header__list li {
    margin: 0 0 0 30px;
}
.header__link {
    color: #d9d9d9;
    font-size: 16px;
    transition: color 0.3s ease 0s;
}
.header__link:hover {
    color: #599650;
}
/* --------------------------------------------------------------------------------------- бургер */
.header__burger {}